<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Изменить данные сотрудника</title>
</head>
<body>
<div align="center">
    <h1>Изменить данные сотрудника</h1>
    <br/>
    <form action="#" th:action="@{/save}" th:object="${employee}"
          method="post">

        <table border="0" cellpadding="10">
            <tr>
                <td>ID:</td>
                <td>
                    <input type="text" th:field="*{id}" readonly="readonly" />
                </td>
            </tr>
            <tr>
                <td>ФИО:</td>
                <td><input type="text" th:field="*{name}"/></td>
            </tr>
            <tr>
                <td>Должность:</td>
                <td><input type="text" th:field="*{position}"/></td>
            </tr>
            <tr>
                <td>Подразделение:</td>
                <td><input type="text" th:field="*{department}"/></td>
            </tr>
            <tr>
                <td>Телефон:</td>
                <td><input type="text" th:field="*{phone}"/></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input type="text" th:field="*{email}"/></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">Сохранить</button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>